{% extends 'base.html' %}

{% block title %}Datasets{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>>Datasets</h1>
        <form method="post" id="datasetForm">
            {% csrf_token %}
            <label for="dataset">Select a dataset:</label>
            <select name="dataset" id="datasetSelect">
                {% for dataset_name in dataset_names %}
                    <option value="{{ dataset_name }}">{{ dataset_name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Visualize</button>
        </form>
    </div>
    
    <script>
        // Redirect to the visualization page with the selected dataset
        document.getElementById('datasetForm').addEventListener('submit', function(event) {
            var selectedDataset = document.getElementById('datasetSelect').value;
            window.location.href = '/myapp/visualization/' + encodeURIComponent(selectedDataset) + '/';
            event.preventDefault();
        });
    </script>
{% endblock %}
